.card {
  margin: 0 45px;
  background-color: $color-light-s;
  border-radius: 9px;
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  @extend %transition;
  cursor: pointer;

  &:hover {
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    .card__button {
      background-color: $color-primary-light;
    }
  }

  @include slider-l {
    margin: 0 20px;
  }

  @include slider-s {
    margin: 0 15px;
  }
}

.card__image {
  border-radius: 9px 9px 0px 0px;
}

.card__title {
  @include h3-title;
  color: $color-dark-l;
}

.card__button {
  @include button;
  width: 187px;
  background-color: transparent;
  border: 2px solid $color-primary-light;
  cursor: pointer;
}
