.pagination {
  display: flex;
  transition: all easy 1s;
}

.pagination__page {
  min-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  justify-content: center;

  @include slider-l {
    min-width: 890px;
    > :nth-child(7) {
      display: none;
    }

    > :nth-child(8) {
      display: none;
    }
  }

  @include media-medium {
    min-width: 580px;
  }

  @include slider-s {
    min-width: 270px;
    > :nth-child(4) {
      display: none;
    }

    > :nth-child(5) {
      display: none;
    }

    > :nth-child(6) {
      display: none;
    }
  }
}

.pagination__navigation {
  width: 340px;
  display: flex;
  justify-content: space-between;
  margin: auto;

  @include media-medium {
    padding-top: 10px;
  }

  @include media-small {
    padding: 0;
    width: 300px;
  }
}
