.slider {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include slider-s {
    gap: 20px;
    justify-content: space-evenly;
    width: 300px;
    flex-wrap: wrap;
  }
}

.slider__wrapper {
  display: flex;
  align-items: center;
  width: 1080px;
  overflow: hidden;

  @include slider-l {
    width: 620px;
  }

  @include slider-s {
    width: 300px;
  }
}

.slider__track {
  display: flex;
  position: relative;
  left: -100%;

  @include slider-s {
    order: 1;
  }
}

.slider__item {
  display: flex;

  @include slider-l {
    > :nth-child(3) {
      display: none;
    }
  }

  @include slider-s {
    > :nth-child(2) {
      display: none;
    }
  }
}

@keyframes move-left {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 2s;
}

@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 2s;
}
