.about {
  @extend %padding-l;

  @include media-mobile {
    padding: 42px 0;
  }

  .wrapper {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;

    @include media-medium {
      flex-direction: column-reverse;
      gap: 80px;
    }

    @include media-mobile {
      gap: 42px;
    }
  }
}

.about__image {
  width: 300px;
  aspect-ratio: 1/1.36;

  @include media-mobile {
    max-width: 86.6%;
  }
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 430px;

  @include media-mobile {
    padding: 0 15px;
    align-items: center;
    max-width: 100%;
  }
}

.about__title {
  @include h2-title;
  color: $color-dark-l;
  max-width: 370px;

  @include media-mobile {
    text-align: center;
    max-width: 100%;
  }
}

.about__paragraph {
  @include paragraph;
  color: $color-dark-xl;

  @include media-mobile {
    text-align: justify;
  }
}
