.help {
  @extend %padding-l;

  @include media-mobile {
    padding: 42px 0;
  }
}

.help__title {
  @include h2-title;
  color: $color-dark-l;
  max-width: 308px;
  margin: auto;
  text-align: center;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  padding-top: 60px;

  @include media-medium {
    column-gap: 60px;
  }

  @include media-mobile {
    padding-top: 42px;
    gap: 30px;
    justify-content: flex-start;
    max-width: 290px;
  }
}

.help__list-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  @extend %transition;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
    transform: scale(1.05);
  }

  @include media-medium {
    width: 170px;
  }

  @include media-small {
    width: 130px;
    gap: 20px;
  }
}

.help__list-icon {
  width: 60px;
  aspect-ratio: 1/1;

  @include media-mobile {
    width: 50px;
  }
}

.help__list-title {
  @include h3-title;
  color: $color-dark-l;

  @include media-small {
    font-size: 1.5rem;
    line-height: 1.1;
  }
}
