.slider {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.41%;

  @include media-medium {
    gap: 12px;
  }
  @include media-small {
    width: auto;
    flex-wrap: wrap;
  }
}

.slider__wrapper {
  display: flex;
  align-items: center;
  width: 990px;
  overflow: hidden;

  @include media-laptop {
    justify-content: center;
    width: 580px;
  }

  @include media-small {
    width: 270px;
    column-gap: 80px;
    row-gap: 20px;
    max-width: 270px;
  }
}

.slider__track {
  display: flex;
  position: relative;
  left: -100%;

  @include media-laptop {
    left: 0;
  }

  @include media-small {
    order: 1;
  }
}

.slider__item {
  display: flex;
  gap: 90px;

  @include media-laptop {
    gap: 40px;
    > :nth-child(3) {
      display: none;
    }
  }
}

@keyframes move-left {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 2s;
}

@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 2s;
}
