.in-addition {
  @extend %padding-l;
  background-color: $color-light-l;

  @include media-mobile {
    padding: 42px 0;
  }
}

.in-addition__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @include media-medium {
    flex-direction: column-reverse;
    gap: 60px;
  }

  @include media-mobile {
    gap: 42px;
  }
}

.in-addition__image {
  width: 505px;
  aspect-ratio: 1/0.52;

  @include media-small {
    max-width: 86.67%;
  }
}

.in-addition__content {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-mobile {
    width: 300px;
    align-items: center;
  }
}

.in-addition__title {
  @include h2-title;
  color: $color-dark-l;

  @include media-mobile {
    text-align: center;
  }
}

.in-addition__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: $color-dark-l;

  @include media-mobile {
    line-height: 1.6;
    letter-spacing: normal;
  }
}

.in-addition__credit-card {
  width: 349px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  text-decoration: none;
  background-color: $color-primary;
  @include h3-title;
  color: $color-dark-l;
  @extend %transition;

  &:hover {
    background-color: $color-primary-light;
  }

  @include media-mobile {
    width: 281px;
    font-size: 15px;
    line-height: 1.1;
  }
}

.in-addition__legal-info {
  @extend %font-add;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $color-dark-m;
  margin: 0;

  @include media-mobile {
    text-align: justify;
    padding: 0 10px;
  }
}
