.our-friends {
  @extend %padding-l;
  background-color: $color-light-l;

  @include media-mobile {
    padding: 42px 0;
  }

  &_pets {
    @include media-medium {
      padding-bottom: 75px;
    }

    @include media-mobile {
      padding-bottom: 42px;
    }
  }
}

.our-friends__title {
  @include h2-title;
  color: $color-dark-l;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.our-friends__cards {
  width: 1240px;
  display: flex;
  gap: 40px;
  overflow: hidden;

  @include slider-l {
    max-width: 930px;
  }

  @include media-medium {
    max-width: 610px;
  }

  @include slider-s {
    max-width: 310px;
  }
}
