.our-friends {
  @extend %padding-l;
  background-color: $color-light-l;

  @include media-mobile {
    padding: 42px 0;
  }

  &_pets {
    @include media-medium {
      padding-bottom: 75px;
    }

    @include media-mobile {
      padding-bottom: 42px;
    }
  }
}

.our-friends__title {
  @include h2-title;
  color: $color-dark-l;
  max-width: 400px;
  margin: auto;
  text-align: center;
}
