.footer {
  padding-top: 40px;
  background: url(../../assets/images/noise_transparent.png),
    radial-gradient(circle farthest-corner at top left, #5b483a 0%, #262425 60%);

  .wrapper {
    padding: 0 10px;
    max-width: 1205px;
  }

  @include media-laptop {
    padding-top: 30px;
  }
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 13.32%;
  flex-wrap: wrap;

  @include media-medium {
    gap: 8.47%;
  }

  @include media-small {
    flex-direction: column;
    gap: 42px;
    align-items: center;
  }
}

.footer__column {
  max-width: 302px;
  min-height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 60px;

  @include media-laptop {
    padding-bottom: 65px;
  }

  @include media-small {
    padding: 0;
    min-height: auto;
    gap: 40px;
    align-items: center;
  }
}

.footer__title {
  @include h2-title;
  color: $color-light-xl;
  width: 280px;

  @include media-small {
    text-align: center;
    align-self: center;
  }
}

.footer__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include h3-title;
  color: $color-primary;
  @extend %transition;

  &:hover {
    color: $color-primary-light;
  }

  @include media-small {
    &_mobile {
      align-self: flex-start;
    }
  }
}

.footer__text {
  margin: 0;
}

.footer__image {
  width: 300px;
  aspect-ratio: 1/1.03;

  @include media-small {
    width: 86.67%;
  }
}
