.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: 0 40px;

  @include media-medium {
    padding: 0 30px;
  }

  @include media-mobile {
    padding: 0 10px;
  }

  &_slider {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

    @include media-mobile {
      gap: 42px;
    }
  }

  &_pets {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    @include media-medium {
      gap: 30px;
    }

    @include media-mobile {
      gap: 42px;
    }
  }
}
